

<!DOCTYPE html>
<html lang="ja">
<%- include _head %>
<body>
<%- include _header %>
<%- include _section1 %>
<%- include _section2 %>
<%- include _section3 %>
<%- include _section4  %>
<%- include _section5 %>
<%- include _section6  %>
<%- include _contact %>
<%- include _footer %>
</body>
</html>

